.ant-advanced-search-form {
    padding: 24px;
    background: white;
    // border: 1px solid #d9d9d9;
    // border-radius: 6px;
  }


  [nz-form-label] {
    overflow: visible;
  }

  button {
    margin-left: 8px;
  }

  .collapse {
    margin-left: 8px;
    font-size: 12px;
  }

  .search-area {
    text-align: right;
  }