<section class="login-section">
  <div class="left-side p-4">
    <div class="form">
      <!-- Logo -->
      <img src="assets/images/logo/logo.png" />
      <!-- Title -->
      <div class="">
        <h2>Sistema Admin</h2>
      </div>
      <form
        nz-form
        [nzLayout]="signInForm.get('formLayout')?.value"
        [formGroup]="signInForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-label>Correo Electronico</nz-form-label>
          <nz-form-control nzErrorTip="Porfavor ingresa tu correo!">
            <input
              nz-input
              nzSize="large"
              formControlName="email"
              placeholder="Ingresar campo"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Contraseña</nz-form-label>
          <nz-form-control nzErrorTip="Porfavor ingresa una contraseña!">
            <input
              nz-input
              nzSize="large"
              formControlName="password"
              placeholder="Ingresar campo"
            />
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="mb-4">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="rememberMe">
              <span>Recuerdame</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12" class="login-form-forgot">
            <a [routerLink]="['/auth/forgot-password']">Olvidaste Contraseña</a>
          </div>
        </div>
        <button nz-button class="login-form-button" [nzType]="'primary'"  [nzSize]="'large'">
          Acceder al sistema
        </button>
      </form>
    </div>
  </div>
  <div class="right-side p-4">
    <div class="rs_body">
      <!-- Background - @formatter:off -->
      <!-- Rings -->
      <svg
        class=""
        viewBox="0 0 960 540"
        width="100%"
        height="100%"
        preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          class="text-gray-700 opacity-25"
          fill="none"
          stroke="currentColor"
          stroke-width="100"
        >
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>
      <!-- Dots -->
      <svg class="" viewBox="0 0 220 192" width="220" height="192" fill="none">
        <defs>
          <pattern
            id="837c3e70-6c3a-44e6-8854-cc48c737b659"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect
          width="220"
          height="192"
          fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
        ></rect>
      </svg>

      <div class="rs_welcome">
        <div class="">
          <h1 class="text-white">
            Bienvenid@ a <br />
            nuestra comunidad
          </h1>
        </div>
        <div class="">
          <p>
            Niñas y niños con acceso a oportunidades que les permitan desarrollar su máximo potencial para romper círculos de pobreza y desigualdad.
          </p>
        </div>
        <div class="rs_aditional-info">
          <div class="rs_bubble">
            <img
              class="
                flex-0
                w-10
                h-10
                rounded-full
                ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800
                object-cover
              "
              src="assets/images/avatars/female-18.jpg"
            />
            <img
              class="
                flex-0
                w-10
                h-10
                rounded-full
                ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800
                object-cover
              "
              src="assets/images/avatars/female-11.jpg"
            />
            <img
              class="
                flex-0
                w-10
                h-10
                rounded-full
                ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800
                object-cover
              "
              src="assets/images/avatars/male-09.jpg"
            />
            <img
              class="
                flex-0
                w-10
                h-10
                rounded-full
                ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800
                object-cover
              "
              src="assets/images/avatars/male-16.jpg"
            />
          </div>
          <div class="ml-2">
            <span>Mas the 17k personas unidas, es tu turno</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
