<div class="content">
  <div class="content__search">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <button nz-button class="" [nzType]="'primary'"  [nzSize]="'large'" (click)="addContent()">
      Agregar Nuevo
    </button>
  </div>
</div>

<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Estatus</th>
        <th>Tipo</th>
        <th>F.Actualizacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.title }}</td>
        <td>{{ data.author }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.updatedAt | date }}</td>
        <td>
          <a (click)="edit('123')">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete()">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>