<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <div class="logo">
        <img src="assets/images/logo/logo.png" />
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline">
        <li nz-menu-item
         [nzSelected]="this.isSelected('/home')" 
         routerLink="/home" 
         routerLinkActive="active"
         >
          <i nz-icon nzType="file"></i>
          <span>Home</span>
        </li>
        <li nz-menu-item
        [nzSelected]="this.isSelected('/user')" 
         routerLink="/user" 
         routerLinkActive="active">
          <i nz-icon nzType="file"></i>
          <span>Usuario</span>
        </li>
        <li nz-menu-item
        [nzSelected]="this.isSelected('/content')" 
         routerLink="/content" 
         routerLinkActive="active">
          <i nz-icon nzType="file"></i>
          <span>Contenido</span>
        </li>
        <li nz-menu-item
        [nzSelected]="this.isSelected('/vocabulary')" 
         routerLink="/vocabulary" 
         routerLinkActive="active">
          <i nz-icon nzType="file"></i>
          <span>Vocabulario</span>
        </li>
        <li nz-menu-item 
        [nzSelected]="this.isSelected('/notification')" 
         routerLink="/notification" 
         routerLinkActive="active">
          <i nz-icon nzType="file"></i>
          <span>Notificaciones</span>
        </li>
        <li nz-menu-item
        [nzSelected]="this.isSelected('/report')" 
         routerLink="/report" 
         routerLinkActive="active">
          <i nz-icon nzType="file"></i>
          <span>Reporte</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <!-- <nz-header></nz-header> -->
      <nz-content>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>