html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: $font-sm;
  font-weight: 300;
  color: $gray-light;
  line-height: 1.3;
  overflow-x: hidden;

  @include breakpoint-up(large) {
    font-size: $font-med;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1 {
  font-size: $font-xlg;
  line-height: 3.2rem;
}

h2 {
  font-size: $font-lg;
}

p {
  font-size: $font-med;
}

span {
  font-size: $font-sm;
}

p {
  line-height: 1.5;
  // margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}


// Padding
.p-1 {
  padding: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.p-4 {
  padding: 4rem !important;
}

// Margin
.m-1 {
  margin: 1rem !important;
}
.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 3rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 3rem !important;
}

.text-white {
  color: $white;
}

// Spacing
.container {
  max-width: 110rem;
  margin: 0 auto;

  &--pall {
    padding-top: 4.375rem;
    padding-right: 1.5rem;
    padding-bottom: 4.375rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large){
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }
  &--py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    
    @include breakpoint-up(large){
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }
  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--pt {
    padding-top: 4.375rem;
    
    @include breakpoint-up(large){
      padding-top: 2.5rem;
    }
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 4.375rem;
    
    @include breakpoint-up(large){
      padding-bottom: 2.5rem;
    }
  }
  &--pl {
    padding-left: 1.5rem;
  }
  
  &--my {
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
  }

  &--mx {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &--mb {
    margin-bottom: 1.375rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  
  &-jc-c {
    justify-content: center;
  }
  
  &-ai-c {
    align-items: center;
  }
}

// }
// Align 
.txt-center {
  text-align: center;
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large){
    display: none;
  }
}